header {
    position: fixed;
    background: linear-gradient(180deg, rgba(17,17,17,1) 0%, rgba(17,17,17,0) 100%);
    width: 100vw;
    z-index: 100;
}

.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 1%;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.header-logo img {
    width: 80px;
}

.header-logo h2 {
    font-size: 18px;
    font-weight: 400;
    color: #edf0f1;
}

.header-logo h2 span {
    font-weight: 800;
    color: #fff;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    color: #FFF;
    transition: all 0.3s ease 0s;
    padding: 0 10px;
    cursor: pointer;
}

nav ul li:hover {
    color: #2763d5;
}

.header-socials ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-socials ul li a {
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header-socials ul li a:hover {
    color: #2763d5;
}

.nav__toggler div {
    width: 2.5rem;
    height: .2rem;
    margin: .4rem;
    background: #FFF;
    transition: .4s ease-in;
}

.nav__toggler {
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1024px) {
    /* shesacvlelia max-width is parametri */
    .header-socials {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .nav__toggler {
        display: block;
    }

    .nav__menu {
        position: fixed;
        top: 12.5vh;
        right: 0;
        width: 50vw;
        height: 87.5vh;
        backdrop-filter: blur(40px);
        flex-direction: column;
        transform: translateX(100%);
        transition: .5s ease-in;
        justify-content: space-around;
        padding-bottom: 200px;
        border-radius: 40px 0 0 0;
    }
}

@media screen and (max-width: 320px) {
    .header-logo img {
        width: 60px;
    }

    .header-logo h2 {
        font-size: .9rem;
    }
}

/* nav active class */
.nav__active {
    transform: translateX(0);
}

/* toggler icon animation */
.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}