.videogallery-cont {
    /* background-color: #000035; */
    background-image: url("../assets/protosPattern1.png");
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.videogallery-wrapper {
    /* display: flex;
    flex-direction: column; */
    /* padding-top: 40px; */
}

.videogallery-wrapper h3 {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

.videogallery-wrapper h3::before,
.videogallery-wrapper h3::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid rgba(209, 209, 209, 0.5);
    width: 30rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
    margin-bottom: -2rem;
}

.swiper-wrapper {
    /* padding: 0 30px; */
}

iframe {
    border: 2px solid grey;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .swiper-slide iframe {
        max-width: 326.4px;
        max-height: 183.6px;
    }
}

@media screen and (max-width: 768px) {
    .swiper-slide iframe {
        max-width: 268.8px;
        max-height: 151.2px;
    }
}

@media screen and (max-width: 480px) {
    .videogallery-cont {
        height: 330px;
    }
}

@media screen and (max-width: 320px) {
    
}