.videogallery-cont {
    background-color: #000035;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.videogallery-wrapper {
    /* display: flex;
    flex-direction: column; */
    /* padding-top: 40px; */
}

.videogallery-wrapper h3 {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.videogallery-wrapper h3::before,
.videogallery-wrapper h3::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid rgba(209, 209, 209, 0.5);
    width: 30rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
    margin-bottom: -2rem;
}

.swiper-wrapper {
    padding: 0 30px;
}